@charset "UTF-8";
:root {
  --black: #08020d;
  --gray: #e0e0e0;
  --dark-gray: #cacaca;
  --dark: #3c3b3d;
  --green: #34c176;
  --orange: #f89202;
  --purple: #5328a1;
  --red: #95390c;
  --font-xs: 11px;
  --font-small: 12.8px;
  --font-size-1: 16px;
  --font-size-2: 24px;
  --font-size-3: 32px;
  --font-size-4: 40px;
  --font-size-5: 48px;
  --font-size-6: 56px;
  --font-size-7: 64px;
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf") format("ttf"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.ttf") format("ttf"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.ttf") format("ttf"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
}
* {
  box-sizing: border-box;
}

body {
  color: var(--dark-gray);
  font: 18px/1.5 Roboto, sans-serif;
  background-color: var(--black);
}

h1 {
  margin: 0;
  color: var(--white);
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

h4 {
  margin: 0;
  color: var(--white);
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  color: var(--gray);
  text-decoration: none;
}

p {
  font-size: var(--font-size-1);
}

nav a:hover {
  color: var(--white);
}

.nav-ul {
  margin: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.absolute {
  position: absolute;
}

.top-25 {
  top: 25px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
}

.width-100-percent {
  width: 100%;
}

.margin-0 {
  margin: 0;
}

.margin-auto {
  margin-right: auto;
  margin-left: auto;
}

.mt-14 {
  margin-top: 14px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-42 {
  margin-top: 42px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-49 {
  margin-bottom: 49px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-65 {
  margin-bottom: 65px;
}

.border-0 {
  border: 0;
}

.border-2 {
  border: 2px solid;
}

.bt-1 {
  border-top: 1px solid #e0e0e0;
}

.pt-2 {
  padding-top: 2px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-62 {
  padding-top: 62px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-225 {
  padding-top: 225px;
}

.pt-248 {
  padding-top: 248px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-74 {
  padding-bottom: 74px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-224 {
  padding-bottom: 224px;
}

.pl-10 {
  padding-left: 10px;
}

.padding-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.br-3 {
  border-radius: 3px;
}

.br-50 {
  border-radius: 50px;
}

.center {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.weight-normal {
  font-weight: normal;
}

.font-xs {
  font-size: var(--font-xs);
  line-height: 13px;
}

.color-dark-grey {
  color: var(--dark-grey);
}

.color-white {
  color: var(--white);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.bc-dark-gray {
  border-color: var(--dark-gray);
}

.fs-1 {
  font-size: var(--font-size-1);
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-50 {
  gap: 50px;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
}

.btn {
  padding-top: 21px;
  padding-bottom: 21px;
  border-radius: 5px;
  color: var(--white);
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.btn-green {
  background-color: var(--green);
}

.btn-transparent {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--white);
  border-radius: 5px;
  font-size: var(--font-size-1);
}

.btn-small {
  display: inline-block;
  width: auto;
  padding: 17px 30px;
  border: 1px solid var(--dark-gray);
  color: var(--dark-gray);
  font-size: var(--font-small);
}

.btn-orange {
  padding: 19px 41px;
  border: 0;
  border-radius: 2rem;
  font-size: var(--font-small);
  text-transform: none;
  background-color: var(--red);
}

.btn-purple {
  background-color: var(--purple);
}

.btn-red {
  background-color: var(--red);
}

.clear::after {
  display: table;
  clear: both;
  content: "";
}

@media (min-width: 1240px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
  }

  h4 {
    line-height: 27px;
  }

  .flex-xl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .gap-24-xl {
    gap: 24px;
  }

  .gap-40-xl {
    gap: 40px;
  }

  .margin-0-xl {
    margin: 0;
  }

  .mt-32-xl {
    margin-top: 32px;
  }

  .mr-24-xl {
    margin-right: 24px;
  }

  .mr-88-xl {
    margin-right: 88px;
  }

  .mb-82-xl {
    margin-bottom: 82px;
  }

  .ml-auto-xl {
    margin-left: auto;
  }

  .pt-200-xl {
    padding-top: 200px;
  }

  .pt-250-xl {
    padding-top: 250px;
  }

  .pb-72-xl {
    padding-bottom: 72px;
  }

  .pb-200-xl {
    padding-bottom: 200px;
  }

  .width-auto-xl {
    width: auto;
  }

  .nowrap-xl {
    flex-wrap: nowrap;
  }

  .columns-4-xl {
    columns: 4;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }

  .btn-icon {
    float: left;
  }
}
.logo {
  width: 24px;
}

@media (min-width: 1240px) {
  .search {
    width: 248px;
  }
}
.page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.registration-form {
  max-width: 570px;
}

.registration-input {
  width: 100%;
  padding: 15px 20px;
  color: var(--white);
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
}

.registration-input::placeholder {
  color: var(--white);
}

@media (min-width: 1240px) {
  .registration-input {
    width: calc(50% - 12px);
  }
}
.pricing-item {
  width: 100%;
  padding: 15px 1.5rem 64px;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}

.bg-free {
  background-image: url(../images/subscribe_1.png);
}

.bg-standard {
  background-image: url(../images/subscribe_2.png);
}

.bg-premium {
  background-image: url(../images/subscribe_3.png);
}

.pricing-value {
  margin-top: 183px;
  margin-bottom: 25px;
  margin-left: -16px;
  font-size: var(--font-size-7);
}

.pricing-value::after {
  position: relative;
  top: -19px;
  left: 16px;
  font-size: var(--font-size-3);
  text-transform: uppercase;
  content: "руб.";
}

.pricing-footer {
  margin-top: 64px;
  margin-bottom: 0;
  color: var(--white);
  font-size: var(--font-small);
}

.news-img {
  width: 100%;
  margin-bottom: 41px;
}

.news-text {
  margin: 16px 0 23px;
}

.news-author {
  display: flex;
  margin-bottom: 48px;
  font-size: var(--font-small);
}

.news-author-link {
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
  color: var(--orange);
  text-transform: uppercase;
}

@media (min-width: 1240px) {
  .news-header {
    font-size: 30px;
  }

  .news-img {
    float: left;
    width: 575px;
    margin-right: 50px;
  }

  .news-item:nth-child(even) .news-img {
    float: right;
    margin-right: 0;
    margin-left: 50px;
  }

  .news-text {
    margin-top: 29px;
  }
}
.app-header::after {
  display: block;
  width: 100%;
  height: 312px;
  margin: 48px 0 -35px -3px;
  background: url(../images/iphone.png) no-repeat center;
  background-size: contain;
}

.app-text::before {
  display: block;
  width: 100%;
  height: 312px;
  margin: 48px 0 -35px -3px;
  background: url(../images/iphone.png) no-repeat center;
  background-size: contain;
  content: "";
}

@media (min-width: 1240px) {
  .app-text::before {
    float: right;
    width: 581px;
    height: 279px;
    margin: -16px 0 0;
  }
}
.footer-nav {
  margin-bottom: 30px;
}

.footer-nav-li {
  width: 100%;
  font-size: 16px;
}

.footer-nav-link {
  display: block;
  font-size: var(--font-size-1);
}

.share-link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.google {
  width: 26px;
  height: 17px;
  background-image: url(../images/Google+.png);
}

.twitter {
  width: 22px;
  height: 19px;
  background-image: url(../images/Twitter.png);
}

.facebook {
  width: 12px;
  height: 20px;
  background-image: url(../images/Facebook.png);
}

.instagram {
  width: 19px;
  height: 20px;
  background-image: url(../images/Instagram.png);
}

@media (min-width: 1240px) {
  .footer-nav-li {
    width: auto;
  }
}
.artist-page-description {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.btn-icon {
  display: block;
  min-width: 200px;
  padding: 24px 5px 24px 67px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 31px 50%;
  background-size: 20px;
}

.btn-play {
  background-image: url("../images/play-button.svg");
}

.btn-like {
  background-image: url("../images/heart.svg");
}

/*# sourceMappingURL=style.css.map */
