.artist-page-description {
  background-image: url('../images/Morten\ Harket.png');
  background-position: center;
  background-size: cover;
}

.btn-icon {
  min-width: 200px;
  padding-left: 31px;

  text-align: left;

  background-repeat: no-repeat;
  background-position: 31px 50%;
  background-size: 20px;
}

.icon {
  width: 20px;
}
