.footer-nav {
  margin-bottom: 30px;
}

.footer-nav-li {
  width: 100%;

  font-size: 16px;
}

.footer-nav-link {
  font-size: var(--font-size-1);
}

.share-link {
  display: block;
  height: 20px;
}

@media (min-width: 1240px) {
  .footer-nav-li {
    width: auto;
  }
}
