.similar-item {
  width: 137px;

  color: var(--gray);
}

.similar-title {
  font-size: 18px;
}

.similar-followers {
  font-size: var(--font-size-1);
}

@media (min-width: 1240px) {
  .similar-item {
    width: 250px;
  }
}
