.news-img {
  width: 100%;
  margin-bottom: 41px;
}

.news-text {
  margin: 16px 0 23px;
}

.news-author {
  margin-bottom: 48px;

  font-size: var(--font-small);
}

.news-author-name {
  margin-right: 16px;

  color: var(--orange);
  text-transform: uppercase;
}

@media (min-width: 1240px) {
  .news {
    width: calc(50% - 25px);
  }

  .news-header {
    font-size: 30px;
  }

  .news-img {
    margin-bottom: 0;
  }

  .news-item:nth-child(even) .news-img {
    order: 2;
  }

  .news-text {
    margin-top: 29px;
  }

  .news-item:nth-child(even) .news-text {
    margin-bottom: 17px;
  }
}
