.popular-track {
  font-size: var(--font-small);
}

.track-img {
  width: 55px;
}

.track-artist {
  color: var(--gray);
}

.track-length {
  margin-left: auto;
}

@media (min-width: 1240px) {
  .popular-track {
    width: calc(50% - 50px);
  }
}
