:root {
  --black: #08020d;
  --gray: #e0e0e0;
  --dark-gray: #cacaca;
  --dark: #3c3b3d;
  --green: #34c176;
  --orange: #f89202;
  --purple: #5328a1;
  --red: #95390c;
  --white: #fff;
  --font-xs: 11px;
  --font-small: 12.8px;
  --font-size-1: 16px;
  --font-size-2: 24px;
  --font-size-3: 32px;
  --font-size-4: 40px;
  --font-size-5: 48px;
  --font-size-6: 56px;
  --font-size-7: 64px;
}
